[submodule "subprojects/libdisplay-info"]
	path = subprojects/libdisplay-info
	url = https://gitlab.freedesktop.org/emersion/libdisplay-info.git
[submodule "subprojects/cxxopts"]
	path = subprojects/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "subprojects/spdlog"]
	path = subprojects/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "subprojects/rapidjson"]
	path = subprojects/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "subprojects/libliftoff"]
	path = subprojects/libliftoff
	url = https://gitlab.freedesktop.org/emersion/libliftoff.git
[submodule "subprojects/Vulkan-Headers"]
	path = subprojects/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
